<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>agende sua atividade</h1>
    <form action="">
        <input type="text" name="nome_atividade" placeholder="nome da atividade">
        <label for="data_da_atividade">data de vencimento</label>
        <input type="date" name="data_da_atividade">
        <button type="submit">agendar atividade</button>
    </form>
</body>
</html>